RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

SetEnv NIGHTBOT_CLIENT_ID "SEU_CLIENT_ID_AQUI"
SetEnv NIGHTBOT_CLIENT_SECRET "SEU_CLIENT_SECRET_AQUI"
SetEnv NIGHTBOT_REDIRECT_URI "https://seu-site.com/"
